@font-face {
    font-family: serverless;
    src: url('fonts/serverless.otf') format('otf'),
         url('fonts/serverless.woff') format('woff'),
         url('fonts/serverless.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    color: #000;
    font-family: monospace;
    font-size: 16px;
}

#main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    font-size: 22px;
    text-align: center;
    line-height: 30px;
    font-weight: 700;
    font-family: serverless;
    text-transform: lowercase;
    user-select: none;
}

.subtitle {
    font-size: 16px;
    text-align: center;
    font-family: monospace;
    line-height: 22px;
    font-weight: 100;
    user-select: none;
    text-transform: lowercase;
}

::-webkit-scrollbar {
    height: 10px;
    width: 10px;
    background: #fff;
  }
::-webkit-scrollbar-thumb {
  background: #000;
  border: 2px solid #fff;
  border-radius: 2ex;
  -webkit-border-radius: 2ex;
}